<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - IdentityAuth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/IdentityAuth.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Usuarios" asp-action="Index">Usuários</a>
        </li>
        <li class="nav-item">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-link" asp-controller="Login" asp-action="Logout">Sair</a>
            }
            else
            {
                <a class="nav-link" asp-controller="Login" asp-action="Index">Entrar</a>
            }
        </li>
    </ul>

    <div class="card">
        <div class="card-title">
            <h2 class="text-center">@ViewBag.Title</h2>
        </div>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>